body{
    background-color: aquamarine;
}
.cont{
    /* display: flex;
    flex-direction: column; */
    display: inline-grid;
    gap: 10px;
    border: 3px solid red;
    margin-left: 19em;
    margin-top: 6em;
    /* max-width: 57%; */
    width: 50%;
    height: 406px;
     text-align: center;
     background-color: #dfdde4;

}